@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-light: #F0F1F3;
  --bg-primary-dark: #222;
  --bg-black: #000000;

  --background-light: var(--bg-primary-light);
  --background-header-light: var(--bg-black);
  --background-footer-light: var(--bg-black);
  --text-primary-light: var(--bg-black);

  --background-dark: var(--bg-primary-dark);
  --background-header-dark: var(--bg-primary-light);
  --background-footer-dark: var(--bg-primary-light);
  --text-primary-dark: var(--bg-primary-light);
}

[data-theme='light'] {
  --background: var(--background-light);
  --background-header: var(--background-header-light);
  --background-footer: var(--background-footer-light);
  --text-primary: var(--text-primary-light);
  --text-header: var(--background-light);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --background-header: var(--background-header-dark);
  --background-footer: var(--background-footer-dark);
  --text-primary: var(--text-primary-dark);
  --text-header: var(--background-dark);
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
